In [334]:
import pandas as pd
import numpy as np

In [335]:
data=pd.read_csv('EdStatsData.csv')

In [336]:
data.columns

Index(['Country Name', 'Country Code', 'Indicator Name', 'Indicator Code',
       '1970', '1971', '1972', '1973', '1974', '1975', '1976', '1977', '1978',
       '1979', '1980', '1981', '1982', '1983', '1984', '1985', '1986', '1987',
       '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995', '1996',
       '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004', '2005',
       '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014',
       '2015', '2016', '2017', '2020', '2025', '2030', '2035', '2040', '2045',
       '2050', '2055', '2060', '2065', '2070', '2075', '2080', '2085', '2090',
       '2095', '2100', 'Unnamed: 69'],
      dtype='object')

In [337]:
# Displaying the list of countries

In [338]:
data["Country Name"].unique()

array(['Arab World', 'East Asia & Pacific',
       'East Asia & Pacific (excluding high income)', 'Euro area',
       'Europe & Central Asia',
       'Europe & Central Asia (excluding high income)', 'European Union',
       'Heavily indebted poor countries (HIPC)', 'High income',
       'Latin America & Caribbean',
       'Latin America & Caribbean (excluding high income)',
       'Least developed countries: UN classification',
       'Low & middle income', 'Low income', 'Lower middle income',
       'Middle East & North Africa',
       'Middle East & North Africa (excluding high income)',
       'Middle income', 'North America', 'OECD members', 'South Asia',
       'Sub-Saharan Africa', 'Sub-Saharan Africa (excluding high income)',
       'Upper middle income', 'World', 'Afghanistan', 'Albania',
       'Algeria', 'American Samoa', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Aruba',
       'Australia', 'Austria', 'Azerbaijan', 'Bahamas, The', 'Bahrain',
       'Bangladesh', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Benin',
       'Bermuda', 'Bhutan', 'Bolivia', 'Bosnia and Herzegovina',
       'Botswana', 'Brazil', 'British Virgin Islands',
       'Brunei Darussalam', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cabo Verde', 'Cambodia', 'Cameroon', 'Canada', 'Cayman Islands',
       'Central African Republic', 'Chad', 'Channel Islands', 'Chile',
       'China', 'Colombia', 'Comoros', 'Congo, Dem. Rep.', 'Congo, Rep.',
       'Costa Rica', "Cote d'Ivoire", 'Croatia', 'Cuba', 'Curacao',
       'Cyprus', 'Czech Republic', 'Denmark', 'Djibouti', 'Dominica',
       'Dominican Republic', 'Ecuador', 'Egypt, Arab Rep.', 'El Salvador',
       'Equatorial Guinea', 'Eritrea', 'Estonia', 'Ethiopia',
       'Faroe Islands', 'Fiji', 'Finland', 'France', 'French Polynesia',
       'Gabon', 'Gambia, The', 'Georgia', 'Germany', 'Ghana', 'Gibraltar',
       'Greece', 'Greenland', 'Grenada', 'Guam', 'Guatemala', 'Guinea',
       'Guinea-Bissau', 'Guyana', 'Haiti', 'Honduras',
       'Hong Kong SAR, China', 'Hungary', 'Iceland', 'India', 'Indonesia',
       'Iran, Islamic Rep.', 'Iraq', 'Ireland', 'Isle of Man', 'Israel',
       'Italy', 'Jamaica', 'Japan', 'Jordan', 'Kazakhstan', 'Kenya',
       'Kiribati', 'Korea, Dem. Peopleâ€™s Rep.', 'Korea, Rep.', 'Kosovo',
       'Kuwait', 'Kyrgyz Republic', 'Lao PDR', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Liechtenstein', 'Lithuania',
       'Luxembourg', 'Macao SAR, China', 'Macedonia, FYR', 'Madagascar',
       'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Marshall Islands', 'Mauritania', 'Mauritius', 'Mexico',
       'Micronesia, Fed. Sts.', 'Moldova', 'Monaco', 'Mongolia',
       'Montenegro', 'Morocco', 'Mozambique', 'Myanmar', 'Namibia',
       'Nauru', 'Nepal', 'Netherlands', 'New Caledonia', 'New Zealand',
       'Nicaragua', 'Niger', 'Nigeria', 'Northern Mariana Islands',
       'Norway', 'Oman', 'Pakistan', 'Palau', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Puerto Rico', 'Qatar', 'Romania',
       'Russian Federation', 'Rwanda', 'Samoa', 'San Marino',
       'Sao Tome and Principe', 'Saudi Arabia', 'Senegal', 'Serbia',
       'Seychelles', 'Sierra Leone', 'Singapore',
       'Sint Maarten (Dutch part)', 'Slovak Republic', 'Slovenia',
       'Solomon Islands', 'Somalia', 'South Africa', 'South Sudan',
       'Spain', 'Sri Lanka', 'St. Kitts and Nevis', 'St. Lucia',
       'St. Martin (French part)', 'St. Vincent and the Grenadines',
       'Sudan', 'Suriname', 'Swaziland', 'Sweden', 'Switzerland',
       'Syrian Arab Republic', 'Tajikistan', 'Tanzania', 'Thailand',
       'Timor-Leste', 'Togo', 'Tonga', 'Trinidad and Tobago', 'Tunisia',
       'Turkey', 'Turkmenistan', 'Turks and Caicos Islands', 'Tuvalu',
       'Uganda', 'Ukraine', 'United Arab Emirates', 'United Kingdom',
       'United States', 'Uruguay', 'Uzbekistan', 'Vanuatu',
       'Venezuela, RB', 'Vietnam', 'Virgin Islands (U.S.)',
       'West Bank and Gaza', 'Yemen, Rep.', 'Zambia', 'Zimbabwe'],
      dtype=object)

In [339]:
# Filtering to contain only the data about the Europe and Central Asia Region

In [340]:
dataECS = data[data["Country Code"] == "ECS"]

In [341]:
# Creating a set for the years we will work on

In [342]:
cols = dataECS.columns[df.columns.slice_indexer('2005','2015')]

In [343]:
cols

Index(['2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015'],
      dtype='object')

In [344]:
# Filtering so we remain only with rows that contains data for the columns in set

In [345]:
dataECS = dataECS.dropna(subset=cols,how='all')

In [346]:
dataECS = dataECS.drop(dataECS.loc[:, '2015':'2100'].columns, axis = 1)

In [347]:
dataECS = dataECS.drop(dataECS.loc[:, '1970':'2005'].columns, axis = 1)

In [348]:
dataECS = dataECS.drop('Unnamed: 69',axis=1)

In [349]:
dataECS.set_index('Indicator Code',inplace=True)

In [350]:
dataECS

,Country Name,Country Code,Indicator Name,2006,2007,2008,2009,2010,2011,2012,2013,2014
Indicator Code,,,,,,,,,,,,
SE.PRM.TENR,Europe & Central Asia,ECS,"Adjusted net enrolment rate, primary, both sex...",96.832748,96.862984,97.130112,96.980888,97.274719,97.329178,97.249649,97.306252,97.022087
SE.PRM.TENR.FE,Europe & Central Asia,ECS,"Adjusted net enrolment rate, primary, female (%)",96.606277,96.733353,96.974167,96.907043,97.232780,97.306313,97.251869,97.291008,97.032494
UIS.NERA.1.GPI,Europe & Central Asia,ECS,"Adjusted net enrolment rate, primary, gender p...",0.995440,0.997390,0.996870,0.998520,0.999160,0.999540,1.000040,0.999690,1.000210
SE.PRM.TENR.MA,Europe & Central Asia,ECS,"Adjusted net enrolment rate, primary, male (%)",97.048492,96.986389,97.278526,97.051140,97.314613,97.350899,97.247551,97.320717,97.012207
UIS.NIRA.1,Europe & Central Asia,ECS,Adjusted net intake rate to Grade 1 of primary...,91.936134,92.683723,92.032272,91.449738,92.639778,93.185226,93.455544,93.420059,89.440102
...,...,...,...,...,...,...,...,...,...,...,...,...
UIS.LP.AG15T24.M,Europe & Central Asia,ECS,"Youth illiterate population, 15-24 years, male...",155183.000000,155183.000000,155183.000000,155183.000000,155183.000000,155183.000000,155183.000000,155183.000000,155183.000000
SE.ADT.1524.LT.ZS,Europe & Central Asia,ECS,"Youth literacy rate, population 15-24 years, b...",99.711449,99.711449,99.711449,99.711449,99.711449,99.711449,99.711449,99.711449,99.711449
SE.ADT.1524.LT.FE.ZS,Europe & Central Asia,ECS,"Youth literacy rate, population 15-24 years, f...",99.677834,99.677834,99.677834,99.677834,99.677834,99.677834,99.677834,99.677834,99.677834
SE.ADT.1524.LT.FM.ZS,Europe & Central Asia,ECS,"Youth literacy rate, population 15-24 years, g...",1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
SE.ADT.1524.LT.MA.ZS,Europe & Central Asia,ECS,"Youth literacy rate, population 15-24 years, m...",99.742554,99.742554,99.742554,99.742554,99.742554,99.742554,99.742554,99.742554,99.742554

In [351]:
# Creating a csv with the filtered data

In [352]:
dataECS.to_csv('ECS.csv')

In [353]:
# Filtering data for a csv where the indicators are applied for  Europe and Central Asia separetly
# Steps below are identical with the one above

In [354]:
countryData = pd.read_csv('EdStatsCountry.csv')

In [355]:
countryData = countryData[countryData['Region'] == 'Europe & Central Asia']

In [356]:
countries = countryData['Table Name'].to_list()

In [357]:
dataCountries = data[data["Country Name"].isin(countries)]

In [358]:
dataCountries = dataCountries.dropna(subset= cols,how='all')

In [359]:
dataCountries = dataCountries.drop('Unnamed: 69',axis=1)

In [360]:
dataCountries = dataCountries.drop(dataCountries.loc[:, '2015':'2100'].columns, axis = 1)

In [361]:
dataCountries = dataCountries.drop(dataCountries.loc[:, '1970':'2005'].columns, axis = 1)

In [362]:
dataCountries

,Country Name,Country Code,Indicator Name,Indicator Code,2006,2007,2008,2009,2010,2011,2012,2013,2014
95290,Albania,ALB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87.666588,88.778252
95291,Albania,ALB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87.354607,88.133423
95292,Albania,ALB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.GPI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.993110,0.986010
95293,Albania,ALB,"Adjusted net enrolment rate, lower secondary, ...",UIS.NERA.2.M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,87.960289,89.383621
95294,Albania,ALB,"Adjusted net enrolment rate, primary, both sex...",SE.PRM.TENR,NaN,NaN,90.267288,89.393333,91.033867,93.225662,96.137093,95.912598,95.920891
...,...,...,...,...,...,...,...,...,...,...,...,...,...
857605,Uzbekistan,UZB,"Youth illiterate population, 15-24 years, male...",UIS.LP.AG15T24.M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.000000,0.000000
857606,Uzbekistan,UZB,"Youth literacy rate, population 15-24 years, b...",SE.ADT.1524.LT.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.000000,100.000000
857607,Uzbekistan,UZB,"Youth literacy rate, population 15-24 years, f...",SE.ADT.1524.LT.FE.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.000000,100.000000
857608,Uzbekistan,UZB,"Youth literacy rate, population 15-24 years, g...",SE.ADT.1524.LT.FM.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,1.000000
857609,Uzbekistan,UZB,"Youth literacy rate, population 15-24 years, m...",SE.ADT.1524.LT.MA.ZS,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.000000,100.000000

In [363]:
dataCountries.to_csv('ECSCountries.csv')